body {
    background-image: url("../images/background-image/wall-background.jpg");
    background-size: 2000px 1000px;
    background-repeat: no-repeat;
    margin: 0%;
}

header {
   margin-left: 700px;
   height: 100px;
}

#logo-banner {
    width: 500px;
    margin-top: -100px;
}

#instruction-panel {
    float: left;
    margin-top: 100px;
}

.row {
    margin-top: 10px;
}

.col-sm-2 {
    height: 500px;
}

.card {
    margin: auto;
}

.card-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    text-align: center;
}

.card-body {
    font-family: 'Permanent Marker', cursive;
    font-size: 18px;
    text-align: center;
}

.card-img-top {
    width: 200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

#image-card-1 {
    background-color:ghostwhite;
    margin-left: 50px;
    margin-top: 150px;
}

#image-card-2 {
    background-color:ghostwhite;
    margin-left: 50px;
    margin-top: 150px;
}

#image-card-3 {
    background-color:ghostwhite;
    margin-left: 50px;
    margin-top: 150px;
}

#image-card-4 {
    background-color:ghostwhite;
    margin-left: 50px;
    margin-top: 150px;
}

.navbar {
    background-color: black;
    color: ghostwhite;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
}